<main class="main-cast-single container text-center">
    <figure>
        <img src="https://via.placeholder.com/450x500" alt="placeholder image" class="img-fluid home-img">
        <figcaption class="figcap">{{name}}</figcaption>
    </figure>
</main>